FILE_PATH_CLIENTS=[file-path-to-clients.xml]
FILE_PATH_APPOINTMENTS=[file-path-to-appointments.out]

BASE_URL_CLIENTS=http://localhost:8080/MDP_VehicleServiceApp/api/clients
BASE_URL_APPOINTMENTS=http://localhost:8080/MDP_VehicleServiceApp/api/appointments
BASE_URL_VEHICLE_PARTS=http://localhost:8080/MDP_VehicleServiceApp/api/parts
BASE_URL_INVOICE=http://localhost:8080/MDP_VehicleServiceApp/api/invoice

REDIS_INSTANCE_NAME=mdpVehicleService
REDIS_HOST=localhost

INVOICE_FOLDER=invoices

mail.smtp.host=smtp.gmail.com
mail.smtp.socketFactory.port=465
mail.smtp.socketFactory.class=javax.net.ssl.SSLSocketFactory
mail.smtp.auth=true
mail.smtp.starttls.enable=true
mail.smtp.port=587
mail.smtp.ssl.protocols=TLSv1.2
mail.username=[example@gmail.com]
mail.password=[gmail-generated-password]

CHAT_HOST=127.0.0.1
CHAT_PORT=8443
KEY_STORE_PATH=[file-path-to-keystore.jks]
KEY_STORE_PASSWORD=[keystore-password]

ORDER_HOST=127.0.0.1
CONFIRMED_ORDER_PORT=51234

DISTRIBUTOR_REGISTER_PORT=6000